* {
  margin: 0;
  padding-right padding-bottom padding-left: 10px;
  outline: none;
  text-decoration: none;
}

body, html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Finger Paint', cursive;
  color: #fff;
  background-color: #000;
}

a {
  color: #red;
}

h1 {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 0.4em #ccc;
  font-size: 5em;
  text-align: center;
}

.stage1 {
  height: 100%;
  background-image: url('/static/main/images/step1.jpeg');
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #505050;
}

.stage2 {
  color: #000;
  background-image: url('/static/main/images/goodyear kevlar.jpg');
  background-blend-mode: multiply;
  background-size: auto;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #fff;
}

.stage2 h1 {
  color: #000;
}

.stage2 p {
  width: 50%;
}

footer {
  width: 100%;
  height: 150px;
  position: relative;
  color: #c8cbd2;
  background-image: url(https://cs5.pikabu.ru/images/previews_comm/2015-02_6/14251235534107.jpg);
  background-blend-mode: multiply;
  background-color: #1e1f23;
  background-size: auto;
}

red {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}



.copyright {
  padding: 1em;
}
